body {
  font-family: "Montserrat", sans-serif;
}

#header {
  background-color: white;
  color: white;
}

#title {
  background-color: white;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 6rem;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: white;
  background-color: black;
}

h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

em {
  color: white;
}

/* Heading */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 0% 3%;
  margin: auto;
  max-width: 75%;
}

.container-xxl {
  padding: 3% 5%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 150%;
  height: auto;
}

/* Message Section */
#message {
  padding: 7% 5%;
  background-color: black;
  position: relative;
  padding-bottom: 3%;
  border-bottom: 5%;
  border-bottom-color: white;
}

.space {
  padding-left: 10px;
  padding-right: 10px;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

form input,
form textarea {
  background-color: rgba(40, 40, 40) !important;
  color: lightgray !important;
  border-color: black !important;
}

.form-control::placeholder {
  color: darkgray;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
}

textarea {
  resize: none;
}

/* Border Section */
#border {
  background-color: white;
  font-size: 5px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.mini-logo {
  width: 8%;
  margin: 20px 20px 50px;
}

.carousel-item {
  color: white;
  padding: 7% 15%;
}

.deia-background {
  font-size: 70%;
  color: black;
  outline: none;
  background-color: rgba(229, 238, 141, 1);
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Actions */
#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

#footer {
  border-top: 5px;
  border-color: white;
  text-align: center;
  padding: 7% 5%;
  background-color: rgba(229, 238, 141, 1);
}

/* @media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
} */

.wrapper {
  text-align: center;
}

.box {
  text-align: left;
}

::placeholder {
  font-family: Biko;
}

button {
  font-family: Biko;
}
